#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: black;

  background-position: center;
  background-size: cover;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 0rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  background: linear-gradient(-45deg, #01020a, #272343, #2c061f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }
  .hero-content {
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  .hero-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }
  .hero-subtitle {
    font-size: 3rem;
    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 1rem;
    }
  }
  .hero-img {
    width: 100%;
    @include respond(phone) {
      width: 80%;
      margin-bottom: 3rem;
    }
  }
  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
